body {
  background-color: blanchedalmond;
  font-family: helvetica;
  position: relative;
}

header {
  margin: 10px;
  position: absolute;
}

h1 {
  font-size: 72px;
  margin: 18px;
}

.introduction {
  font-size: 12px;
  font-style: italic;
  width: 50%;
  margin-left: 18px;
}

.grid {
  height: 904px;
  width: 904px;
  display: block;
  margin-top: 300px;
  margin-left: 150px;
  margin-right: 150px;
  position: absolute;
}

.column {
  float: left;
  width: 226px;
  height: 904px;
}

.card {
  height: 200px;
  width: 200px;
  border: solid black;
/*  background-color: rebeccapurple;*/
  padding: 10px;
/*  border-radius: 22px;*/
}

.buttons {
  display: block;
  position: absolute;
  width: 20%;
  margin-right: 18px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 800px;
  border: dotted black;
}
  
button {
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
}

.hidden {
  visibility: hidden;
}