body {
  background-color: blanchedalmond;
  font-family: helvetica;
  position: relative;
}

header {
  margin: 10px;
  position: absolute;
}

h1 {
  font-size: 72px;
  margin: 24px;
}

.introduction {
  font-size: 12px;
  font-style: italic;
  width: 50%;
  margin-left: 24px;
}

.grid {
  height: 904px;
  width: 904px;
  display: block;
  margin-top: 300px;
  margin-left: 200px;
  margin-right: 200px;
  position: absolute;
}

.column {
  float: left;
  width: 226px;
  height: 904px;
}

.card {
  height: 200px;
  width: 200px;
  border: solid black;
  padding: 10px;
}

.buttons {
  display: block;
  position: absolute;
  width: 18%;
  margin-right: 24pxpx;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 800px;
  padding: 12px;
  border: dotted black;
}
  
button {
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
}

.hidden {
  visibility: hidden;
}