
<div class="pure-g">
  <div class="title pure-u-1-2 l-box">
      <img src="http://glittertextmaker.info/glittertext/holdz/z57780a973f3d0.gif"/>
  </div>
  <div class="buttons pure-u-1-2 l-box">
    <button id="start">Start</button>
    <button id="pause">Pause</button>
    <button id="reset">Reset</button>
    <button id="add">Add</button>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 1</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 2</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 3</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 4</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 5</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 6</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 7</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 8</p>
  </div>
</div>

