<div class="title">
  <img src="http://glittertextmaker.info/glittertext/holdz/z57780a973f3d0.gif" width="477" height="93" border="0" />
</div>
<div class="pure-g">
  <div class="pure-u-1-4 l-box"><p>Card 1</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 2</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 3</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 4</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 5</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 6</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 7</p>
  </div>
  <div class="pure-u-1-4 l-box"><p>Card 8</p>
  </div>
</div>

